/* common css styles */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

/* Header css styles */

header {
  background: #353436;
}

.inner_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size: 30px;
  line-height: 2;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 21px;
  position: relative;
}

nav ul li a {
  transition: 0.2s;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li:hover a {
  color: rgb(153, 30, 16);
}

nav ul li:hover ul a {
  color: white;
}

/* Nested menu css styles */

nav ul ul {
  flex-direction: column;
  position: absolute;
  background: rgb(34, 32, 32);
  left: -99999999999999999999999px;
  top: 58px;
  width: 150px;
  padding: 10px 0;
}

nav ul li:hover ul {
  left: 0;
}

nav ul li:hover ul ul {
  left: -99999999999999999999999px;
}

nav ul ul li {
  padding: 5px 15px;
}

nav ul ul li:hover {
  background: red;
}

nav ul ul ul {
  left: -9999999999999999999999px;
  top: 0;
}

nav ul ul li:hover ul {
  left: 150px;
  top: 0;
}

nav ul ul li:hover ul ul {
  left: -999999999999999999999px;
  top: 0;
}
nav ul ul ul li:hover ul {
  left: 150px;
  top: 0;
}
